@model GendacBluesheet.bluesheetdocument

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h1>Blue Sheet</h1>
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0" data-toggle="collapse" href="#singleSO">Single Sales Objective</h2>
        </div>

        <div id="singleSO" class="collapse p-3">
            <div class="form-group">
                <label for="compName">Company Name</label>
                @Html.EditorFor(model => model.compName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label for="oppType">What is the opportunity?</label>
                @Html.EditorFor(model => model.oppType, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="oppSize">Size of the opportunity</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">R</span>
                        </div>
                        @Html.EditorFor(model => model.oppSize, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>
                <div class="col">
                    <label for="oppTime">Timing for the opportunity</label>
                    @Html.EditorFor(model => model.oppTime, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2 class="mb-0" data-toggle="collapse" href="#rateClient">Rate the Client</h2>
        </div>

        <div id="rateClient" class="collapse p-3 show">

            <div class="form-group row">
                <div class="col-5 mr-5">
                    <label for="turnOver">What is the turnover?</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">R</span>
                        </div>
                        @Html.EditorFor(model => model.turnOver, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col">
                    <label for="clientAge">How long have they been in business?</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.clientAge, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="input-group-append">
                            <span class="input-group-text">years</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-5 mr-5">
                    <label for="industry">Industry</label>
                    @Html.DropDownListFor(model => model.industry, new List<SelectListItem> {
                                new SelectListItem { Text="Finance", Value="finance" },
                                new SelectListItem { Text="Technology", Value="technology" },
                                new SelectListItem { Text="Manufacturing", Value="manufacturing" },
                                new SelectListItem { Text="Investment", Value="investment" },
                                new SelectListItem { Text="Sales", Value="sales" },
                                new SelectListItem { Text="Production", Value="production" }
                                },
                                new { @Name = "industry", @class = "form-control" })
                    
                </div>

                <div class="col">
                    <label for="clientComp">Who are their competitors?</label>
                    @Html.EditorFor(model => model.clientComp, new { htmlAttributes = new { @class = "form-control" } })
                </div>

            </div>

            <div class="form-group row oddRow">
                <label class="col-5 col-form-label">Location</label>
                <div class="btn-group btn-group-justified col px-0" data-toggle="buttons">
                    <label class="btn btn-light col-4 m-0 h-100">
                        @Html.RadioButtonFor(model => model.location, "provinsial")
                        Provincial
                    </label>
                    <label class="btn btn-light col-4 m-0 h-100">
                        @Html.RadioButtonFor(model => model.location, "national")
                        National
                    </label>
                    <label class="btn btn-light col-4 m-0 h-100">
                        @Html.RadioButtonFor(model => model.location, "international")
                        International
                    </label>
                </div>
            </div>

            <div class="form-group row evenRow">
                <label class="col-5 col-form-label">Response Mode</label>
                <div class="btn-group btn-group-justified col px-0" data-toggle="buttons">
                    <label class="btn btn-light col-4 m-0 h-100">
                        @Html.RadioButtonFor(model => model.respMode, "growth")
                        Growth
                    </label>
                    <label class="btn btn-light col-4 m-0 h-100">
                        @Html.RadioButtonFor(model => model.respMode, "trouble")
                        Trouble
                    </label>
                    <label class="btn btn-light col-4 m-0 h-100">
                        @Html.RadioButtonFor(model => model.respMode, "other")
                        Other
                    </label>
                </div>

            </div>


            <div class="form-group row oddRow">
                <label class="col-5 col-form-label">How dependant are they on technology?</label>
                <div class="btn-group btn-group-justified col px-0" data-toggle="buttons">
                    <label class="btn btn-light col-4 m-0 h-100">
                        @Html.RadioButtonFor(model => model.techDependancy, "little")
                        Little
                    </label>
                    <label class="btn btn-light col-4 m-0 h-100">
                        @Html.RadioButtonFor(model => model.techDependancy, "medium")
                        Medium
                    </label>
                    <label class="btn btn-light col-4 m-0 h-100">
                        @Html.RadioButtonFor(model => model.techDependancy, "very")
                        Very
                    </label>
                </div>
            </div>

            <div class="form-group row evenRow">
                <label class="col-5 col-form-label">Are they an advisable client?</label>
                <div class="btn-group btn-group-justified col px-0" data-toggle="buttons">
                    <label class="btn btn-light col-4 m-0 h-100">
                        @Html.RadioButtonFor(model => model.advisable, "little")
                        Little
                    </label>
                    <label class="btn btn-light col-4 m-0 h-100">
                        @Html.RadioButtonFor(model => model.advisable, "medium")
                        Medium
                    </label>
                    <label class="btn btn-light col-4 m-0 h-100">
                        @Html.RadioButtonFor(model => model.advisable, "very")
                        Very
                    </label>
                </div>
            </div>

            <div class="form-group row oddRow">
                <label class="col-5 col-form-label">Have they used external developers?</label>
                <div class="btn-group btn-group-justified col px-0" data-toggle="buttons">
                    <label class="btn btn-light col-4 m-0 h-100">
                        @Html.RadioButtonFor(model => model.extDev, "yes")
                        Yes
                    </label>
                    <label class="btn btn-light col-4 m-0 h-100">
                        @Html.RadioButtonFor(model => model.extDev, "no")
                        No
                    </label>
                    <label class="btn btn-light col-4 m-0 h-100">
                        @Html.RadioButtonFor(model => model.extDev, "unknown")
                        Unknown
                    </label>
                </div>
            </div>

            <div class="form-group mt-3 row">
                <label class="col-6 col-form-label" for="extDevSpend">How much do they spend on external developing?</label>
                <div class="input-group col px-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R</span>
                    </div>
                    @Html.EditorFor(model => model.extDevSpend, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2 class="mb=0" data-toggle="collapse" href="#competitors">Our Competitors for the opportunity</h2>
        </div>

        <div id="competitors" class="collapse p-2 show">
            <div class="px-2 py-1">
                <h5>Select all that apply:</h5>
            </div>

            <div class="px-3 py-2">
                <div class="form-group row" id="btnOtherComp">
                    <div class="col-6 btn text-left">
                        @{ 
                            bool check = false;
                            if (Model.otherComp != null)
                            {
                                check = true;
                            }
                            
                        }
                        <input id="otherCompCheck" checked="@check" class="styled-checkbox unchecked" type="checkbox" name="otherCompCheck">
                        <label for="otherCompCheck">Other Company</label>
                    </div>
                    <div class="col">
                        @Html.EditorFor(model => model.otherComp, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.EditorFor(model => model.otherComp, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group row" id="btnBudgetElse">
                    <div class="col-6 btn text-left">
                        @{
                            check = false;
                            if (Model.budgetElse != null)
                            {
                                check = true;
                            }
                        }
                        <input id="budgetElseCheck" checked="@check" class="styled-checkbox col-6 unchecked" type="checkbox" name="budgetElseCheck">
                        <label for="budgetElseCheck">Use budget for something else</label>
                    </div>
                    <div class="col">
                        @Html.EditorFor(model => model.budgetElse, new { htmlAttributes = new { @class = "form-control", id="budgetElse" } })
                    </div>
                </div>

                <div class="form-group row" id="btnIntResources">
                    <div class="col-6 btn text-left">
                        
                        <input id="intResources" class="styled-checkbox col-6 unchecked" type="checkbox" name="intResources">
                        <label for="intResources">Use internal resources</label>
                    </div>
                </div>

                <div class="form-group row" id="btnDoNothing">
                    <div class="col-6 btn text-left">
                        <input id="doNothing" class="styled-checkbox col-6 unchecked" type="checkbox" name="doNothing">
                        <label for="doNothing">Do nothing</label>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">

            <h2 class="mb-0" data-toggle="collapse" href="#buyingInfluences">Buying Influences</h2>
        </div>

        <div id="buyingInfluences" class="collapse p-2">
            <div class="card-body">
                <div class="form-group">

                    <label>Buyer Type</label>
                    <div class="input-group">
                        <select name="buyerType" class="form-control">
                            <option value="economic">Economic</option>
                            <option value="technical">Techincal</option>
                            <option value="user">User</option>
                            <option value="coach">Coach</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label for="buyerName">Buyer Name</label>
                        @Html.EditorFor(model => model.compName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col">
                        <label for="winRes">Win Result</label>
                        @Html.EditorFor(model => model.compName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card">
        <div class="card-header">
            <h2 class="mb-0" data-toggle="collapse" href="#strengthRF">Strengths and Red Flags</h2>
        </div>

        <div id="strengthRF" class="collapse p-2">
            <div class="form-group row">
                <div class="col">
                    <label for="strength1">Strength</label>
                    @Html.EditorFor(model => model.compName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col">
                    <label for="leverage">Leverage</label>
                    @Html.EditorFor(model => model.compName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label for="redFlag1">Red Flag</label>
                    @Html.EditorFor(model => model.compName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col">
                    <label for="strategy">Strategy</label>
                    @Html.EditorFor(model => model.compName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
